{% extends 'base.html.twig' %}
{% block title %}Grand Angle{% endblock %}
{% block body %}
    {% include "partials/_navbar.html.twig" %}
    <div class="container-fluid text-center mt-5">
        <h1>Accueil</h1>
        <div class="row mt-5 justify-content-center">
            <div class="col-6 col-md-3">
                <a href="#" class="home_category">
                    <h2>Artistes</h2>
                    <img alt="Artistes" class="img-fluid" src="assets/img/home/artists.jpg">
                </a>
            </div>
            <div class="col-6 col-md-3">
                <a href="#" class="home_category">
                    <h2>Oeuvres</h2>
                    <img alt="Oeuvres" class="img-fluid" src="assets/img/home/work.jpg">
                </a>
            </div>
            <div class="col-6 col-md-3">
                <a href="#" class="home_category">
                    <h2>Expositions</h2>
                    <img alt="Expositions" class="img-fluid" src="assets/img/home/exhibitions.jpg">
                </a>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-6 col-md-3">
                    <a href="#" class="home_category">
                        <h2>Administration</h2>
                        <img alt="Administration" class="img-fluid" src="assets/img/home/admin.jpg">
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
            