{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}

{% include "partials/_navbar.html.twig" %}

<div class="container mt-5">

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-secondary" href="{{ path('user_index') }}">back to list</a>

    
</div>
{% endblock %}
