{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}

{% include "partials/_navbar.html.twig" %}

<div class="container mt-5">

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-secondary" href="{{ path('user_index') }}">Retour</a>
    {% endif %}
</div>
{% endblock %}
