{% extends 'base.html.twig' %}

{% block title %}Nouveau Collaborateur{% endblock %}

{% block body %}
    {% include "partials/_navbar.html.twig" %}
    <div class="container">
        <h1>Créer un nouveau collaborateur</h1>

        {{ include('user/_form.html.twig') }}

        <a class="btn btn-secondary" href="{{ path('user_index') }}">Retour</a>
    </div>
{% endblock %}
